/*Color palette:
//Text: #333333
//Dark: #38611F > #58863d
//Medium: #93d06f
//Light: #b1ed8d
//BG: #d1f8b9
*/

.gradient {
  background: -webkit-linear-gradient(bottom,rgba(12, 87, 35, 1),rgba(46, 191, 90, 1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(top,rgba(12, 87, 35, 1),rgba(46, 191, 90, 1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top,rgba(12, 87, 35, 1),rgba(46, 191, 90, 1)); /*Fx 3.6-15*/
  background: linear-gradient(to top,rgba(12, 87, 35, 1),rgba(46, 191, 90, 1));
}
.halfgrad {
  background: -webkit-linear-gradient(left, rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(right, rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -moz-linear-gradient(right, rgba(137,255,241,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -ms-linear-gradient(right, rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    position: fixed!important;
    /*color: rgba(56, 97, 31, 1);*/
}
iframe {
    overflow: hidden;
    height: 85%;
    width: 100%;
}
h1, h2, h3, h4 {
    color: white;
    padding: 1%;
    margin: 0px;
}
div {
    //text-align: -webkit-center;
    text-align: center;
}
/* This is for index.html so that loaded HTML content fits in screen */
.index {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* These are used by all SMPG pages */
.SMPG_avatar {
    height: 70px;
    width: 70px;
    padding: 2px;
    vertical-align: middle;
    background-color: white;
    border: 2px solid;
    border-color: green;
}
.SMPG_divider {
    height: 5px;
}

/* These are menu.html items */
.SMPG_menu {
    height:100%;
    width:100%;
    overflow: scroll;
    background-color: rgba(173, 215, 160, 1);
}
.SMPG_menu_top {
    padding-top: 1%;
    //padding-bottom: 1%;
    background-color: rgba(0, 0, 0, 1);
}
.SMPG_menu_select {
    margin-left: 15%;
    padding-top: 5px;
    width: 70%;
}
.SMPG_menu_options {
    padding-top: 5px;
}
.SMPG_menu_list {
}
.SMPG_menu_listbar {
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 18px;
}
.SMPG_menu_yourturn {
    background-color: rgba(0, 0, 0, 1);
}
.SMPG_menu_waiting {
    background-color: rgba(0, 0, 0, 1);
}
.SMPG_menu_completed {
    background-color: rgba(0, 0, 0, 1);
}
.SMPG_menu_table {
    width: 100%;
}
.SMPG_menu_tr {
    /* padding-top: 2px; */
    vertical-align: middle;
    height: 20px;
}
.SMPG_menu_td1 {
    width: 70%;
    padding-right: 10px;
    vertical-align: middle;
}
.SMPG_menu_td2 {
    width: 30%;
    margin-right: 5px;
}
.SMPG_menu_button {
    //background-color: rgba(177, 237, 141, 1);
    width: 98%;
    margin-top: 1%;
    padding: 0px;
    min-height: 0px;
    line-height: 0px;
    height: 30px;
}
.SMPG_icon {
    font-size: 25px;
    vertical-align: middle;
}

/* These are game.html items */
.SMPG_game {
    height:100%;
    width:100%;
    overflow: hidden;
    background-color: rgba(56, 97, 31, 1);
    color: white;
}
.SMPG_game_top {
    background-color: rgba(56, 97, 31, 1);
    height: 10%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}
.SMPG_game_goback {
    height: 100%;
    width: 10%;
    float: left;
    font-size: 2em;
    color: white;
}
#SMPG_game_goback2 {
    padding: 0px;
    padding-left: 5px;
}
.SMPG_game_opponent {
    height: 100%;
    width: 80%;
    float: left;
    padding: 5px;
}
#SMPG_game_players {

}
.SMPG_game_helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.SMPG_game_avatar {
    height: 100%;
    background-color: white;
    border: 1px solid;
    border-color: darkolivegreen;
    vertical-align: middle;
}
#SMPG_game_av0 {

}
#SMPG_game_av1 {

}
.SMPG_game_delete {
    height: 100%;
    width: 10%;
    float: left;
    font-size: 2em;
}
#SMPG_game_delete2 {
    padding: 0px;
    padding-right: 5px;
}
.SMPG_game_status {
    height: 5%;
    background-color: #58863d;
}

/* These are stats.html items */

.SMPG_stats {
    //background: #ECECEC;
    //margin:0px ;
    //color:#333;
    height:100%;
    width:100%;
    overflow: scroll;
    background-color: rgba(173, 215, 160, 1);
    color: white;
}
.SMPG_stats_top {
    height: 100%;
    width: 80%;
    float: left;
    padding: 5px;
    font-size: 200%;
}
.SMPG_stats_you {
    width: 100%;
    padding: 1%;
    background-color: #58863d;
    min-height: 10%;
}
.SMPG_stats_none {
    width: 100%;
    padding: 1%;
    min-height: 10%;
    font-size: 300%;
}
.SMPG_stats_opponents {
    width: 100%;
    padding: 1%;
    font-size: 150%;
    color: rgba(56, 97, 31, 1);
}
.SMPG_stats_div {
    height: 10%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    border-top: 1px solid #58863d;
    color: rgba(56, 97, 31, 1);
}
.SMPG_stats_col {
    width: 10%;
    float: left;
    height: 100%;
}
.SMPG_stats_player {
    width: 60%;
    float: left;
    height: 100%;
}
.SMPG_stats_dark {
    background-color: rgba(131, 182, 115, 1)
}
.SMPG_stats_av {
    height: 30px;
    background-color: white;
    border: 1px solid;
    border-color: darkolivegreen;
    vertical-align: middle;
}
