.gradient {
    background: -webkit-linear-gradient(top,rgba(12, 51, 24, 1),rgba(46, 191, 90, 1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(bottom,rgba(12, 51, 24, 1),rgba(46, 191, 90, 1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(bottom,rgba(12, 51, 24, 1),rgba(46, 191, 90, 1)); /*Fx 3.6-15*/
    background: linear-gradient(to bottom,rgba(12, 51, 24, 1),rgba(46, 191, 90, 1));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.leftgrad {
    background: -webkit-linear-gradient(right, rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
}
.rightgrad {
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -moz-linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -ms-linear-gradient(right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    position: fixed!important;
    /*color: rgba(56, 97, 31, 1);*/
}
iframe {
    overflow: hidden;
    height: 85%;
    width: 100%;
}
h1, h2, h3, h4 {
    color: white;
    padding: 1%;
    margin: 0px;
}

b {
    
}

div {
    //text-align: -webkit-center;
    text-align: center;
}
/* This is for index.html so that loaded HTML content fits in screen */
.index {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* These are used by all SMPG pages */
.SMPG_avatar {
    background-color: white;
    border: 2px solid;
    border-color: green;
}
.SMPG_divider {
    height: 5px;
    width: 100%;
}
.SMPG_helper_float {
    height: 100%;
    width: 100%;
    float: left;
}
.SMPG_helper_abs {
    position: absolute;
    top: 0;
}

/* MENU.HTML CSS ITEMS */
.SMPG_menu {
    height:100%;
    width:100%;
    overflow: hidden;
    position: fixed!important;
    background-color: rgba(173, 215, 160, 1);
    color: white;
}

.SMPG_menu_body {
    height: 90%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 20px;
}
.SMPG_menu_header {
    height: 20%;
    min-height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
}
.SMPG_menu_top25 {
    width: 25%;
    height: 100%;
    float: left;
    padding: 5px;
}
.SMPG_menu_top50 {
    width: 50%;
    height: 100%;
    float: left;
}
.SMPG_menu_title {
    height: 60%;
    width: 100%;
    font-family: 'Righteous', cursive;
}
.SMPG_menu_user {
    height: 40%;
    width: 100%;
}

.SMPG_menu_top {
    height: 10%;
    min-height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
}
#SMPG_menu_top_2 {
    vertical-align: middle;
    font-size: 20px;
}
#SMPG_menu_trophy {
    font-size: 30px;
}
.SMPG_menu_games {
    height: 80%;
    width: 100%;
    overflow: scroll;
}
.SMPG_menu_listbar {
}
.SMPG_menu_yourturn {
    text-align: left;
    padding: 10px;
}
.SMPG_menu_waiting {
    text-align: right;
    padding: 10px;
}
.SMPG_menu_completed {
    text-align: left;
    padding: 10px;
}
.SMPG_menu_table {
    width: 100%;
}
.SMPG_menu_tr {
    vertical-align: middle;
    height: 20px;
}
.SMPG_menu_td1 {
    width: 100%;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 7px;
}
.SMPG_menu_td2 {
    width: 100%;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 7px;
}

.SMPG_menu_match {
    padding: 10px;
}

.SMPG_menu_bottom {
    height: 10%;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    overflow: hidden;
    position: fixed!important;
    font-size: 12px;
}
.SMPG_menu_option30 {
    height: 100%;
    width: 30%;
    float: left;
    color: white;
    font-size: 12px;
}
.SMPG_menu_option40 {
    height: 100%;
    width: 40%;
    float: left;
    color: white;
}
.SMPG_menu_option25 {
    height: 100%;
    width: 25%;
    float: left;
    color: white;
    padding-top: 3px;
}
/* END MENU CSS */


.SMPG_icon {
    font-size: 25px;
    vertical-align: middle;
}

/* These are game.html items */
.SMPG_game {
    height:100%;
    width:100%;
    overflow: hidden;
    /*background-color: rgba(56, 97, 31, 1);*/
    color: white;
}
.SMPG_game_top {
    background-color: rgba(0, 0, 0, 1);
    height: 10%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}
.SMPG_game_goback {
    height: 100%;
    width: 10%;
    float: left;
    font-size: 2em;
    color: white;
}
#SMPG_game_goback2 {
    padding: 0px;
    padding-left: 5px;
}
.SMPG_game_opponent {
    height: 100%;
    width: 80%;
    float: left;
    padding: 5px;
}
#SMPG_game_players {

}
.SMPG_game_helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.SMPG_game_avatar {
    height: 100%;
    background-color: white;
    border: 1px solid;
    border-color: green;
    vertical-align: middle;
}
#SMPG_game_av0 {

}
#SMPG_game_av1 {

}
.SMPG_game_delete {
    height: 100%;
    width: 10%;
    float: left;
    font-size: 2em;
}
#SMPG_game_delete2 {
    padding: 0px;
    padding-right: 5px;
}
.SMPG_game_status {
    height: 5%;
    background-color: #58863d;
}

/* These are stats.html items */

.SMPG_stats {
    height:100%;
    width:100%;
    overflow: scroll;
    overflow-x: hidden;
    color: white;
}
.SMPG_stats_top {
    height: 100%;
    width: 80%;
    float: left;
    padding: 5px;
    font-size: 200%;
}
.SMPG_stats_you {
    width: 100%;
    padding: 1%;
    /*background-color: #58863d;*/
    min-height: 10%;
    color: rgba(255, 255, 255, 1);
}
.SMPG_stats_none {
    width: 100%;
    padding: 1%;
    min-height: 10%;
    font-size: 300%;
}
.SMPG_stats_opponents {
    width: 100%;
    padding: 1%;
    font-size: 150%;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
}
.SMPG_stats_div {
    height: 10%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
}
.SMPG_stats_col {
    width: 10%;
    float: left;
    height: 100%;
}
.SMPG_stats_player {
    width: 60%;
    float: left;
    height: 100%;
}
.SMPG_stats_dark {
    background-color: rgba(131, 182, 115, 0.5);
}
.SMPG_stats_av {
    height: 28px;
    background-color: white;
    border: 1px solid;
    border-color: darkolivegreen;
    vertical-align: middle;
}

/**** SPECIAL EFFECTS/ANIMATIONS ****/
/**** BLINKING ****/
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
/** FLOATING FANCY TEXT **/
.FLOATtxt {
color: #f8f8ff;
text-shadow: 0 3px 0 #b2a98f,0 14px 10px rgba(0,0,0,0.15), 0 24px 2px rgba(0,0,0,0.1), 0 34px 30px rgba(0,0,0,0.1);
}
.RETROtxt {
color: #707070;
text-shadow: 5px 4px 0 #eee,7px 6px 0 #707070;
}
.NEONblue {
color: #fff;
text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00DEFF, 0 0 70px #00DEFF, 0 0 80px #00DEFF, 0 0 100px #00DEFF, 0 0 150px #00DEFF;
}
.NEONgreen {
      text-shadow: 0 0 10px #fff,
                   0 0 20px #fff,
                   0 0 30px #fff,
                   0 0 40px #ff00de,
                   0 0 70px #ff00de,
                   0 0 80px #ff00de,
                   0 0 100px #ff00de,
                   0 0 150px #ff00de;
}
