<!--div 
    ng-cloak class="SMPG_game" ng-controller="GameCtrl"-->
    
<div 
    ng-cloak class="SMPG_game">

    <!--// MATCH_MENU: OPTIONS //-->
    <div class="SMPG_game_top">
        <div class="SMPG_game_goback icon ion-chevron-left"
            id="SMPG_game_goback2"
             ng-click="leaveGame()">
        </div>
        <div class="SMPG_game_opponent" id="SMPG_game_players">
            <div class="SMPG_game" ng-show="player0() && player1()">
                <span class="SMPG_game_helper"></span>
                <img src={{image0()}} class="SMPG_game_avatar" id="SMPG_game_av0"> <b>{{player0()}}</b> vs 
                <img src={{image1()}} class="SMPG_game_avatar" id="SMPG_game_av1"> <b>{{player1()}}</b>
            </div>
        </div>
        <div class="SMPG_game_delete icon-right ion-ios7-trash"
            id="SMPG_game_delete2"
             ng-click="deleteGame()">
        </div>
    </div>

    <!--// MATCH_MENU: STATUS/INFO //-->
    <div class="SMPG_game_status">
        <span class="SMPG_game_helper"></span>
        <span class="blink_me"><i>{{gameStatus()}}</i></span>
    </div>

    <iframe frameborder="1" id="game_iframe" ng-src="{{gameUrl}}"
            scrolling="no" seamless="seamless"></iframe>
</div>
