<div class="SMPG_menu gradient"
     ng-cloak>

    <div class="SMPG_menu_body">
    
          <div class="SMPG_menu_header">
          <div class="SMPG_menu_top25" id="SMPG_menu_headerid">
               <img ng-src="{{avatarImageUrl}}" class="SMPG_avatar" id="SMPG_menu_topav"></img>
          </div>
          <div class="SMPG_menu_top50">
               <div class="SMPG_menu_title" id="SMPG_menu_titleid"><span class="SMPG_game_helper"></span>
                    {{gameName}}
               </div>
               <div class="SMPG_menu_user"><span class="SMPG_game_helper"></span>
                    <b>{{displayName}}</b>
               </div>
          </div>
          <div class="SMPG_menu_top25">
               <!--Facebook Login?-->
          </div>     
          </div>

        <!--div class="SMPG_menu_games"-->

            <div class="SMPG_divider"></div>
            <div class="SMPG_menu_listbar SMPG_menu_yourturn leftgrad">
                <b>Your Turn</b>
            </div>
            <div class="SMPG_menu_table">
               <div ng-repeat="match in myTurnMatches track by $index">
                    <div class="SMPG_divider"></div>
                    <div ng-class="{SMPG_menu_td1:$index%2==0,SMPG_menu_td2:$index%2==1}"
                         ng-click="goToGame(match.myPlayerId, match.matchId, match.turnIndex)">
                         <span class="blink_me"><b>{{match.opponent}}</b></span>
                    </div>
               </div>
            </div>

            <div class="SMPG_divider"></div>
            <div class="SMPG_menu_listbar SMPG_menu_waiting rightgrad">
                <b>Opponent's Turn</b>
            </div>
            <div class="SMPG_menu_table">
               <div ng-repeat="match in oppoTurnMatches track by $index">
                    <div class="SMPG_divider"></div>
                    <div ng-class="{SMPG_menu_td1:$index%2==0,SMPG_menu_td2:$index%2==1}"
                         ng-click="goToGame(match.myPlayerId, match.matchId, match.turnIndex)">
                         <b>{{match.opponent}}</b>
                    </div>
               </div>
            </div>

            <div class="SMPG_divider"></div>
            <div class="SMPG_menu_listbar SMPG_menu_completed leftgrad">
                <b>Completed Games</b>
            </div>
            <div class="SMPG_menu_table">
               <div ng-repeat="match in endMatches track by $index">
                    <div class="SMPG_divider"></div>
                    <div ng-class="{SMPG_menu_td1:$index%2==0,SMPG_menu_td2:$index%2==1}"
                         ng-click="goToGame(match.myPlayerId, match.matchId, match.turnIndex)">
                         <b>{{match.opponent}}</b>
                    </div>
               </div>
            </div>

        <!--/div-->
    </div>

    <!--BOTTOM MENU OPTIONS-->
    <div class="SMPG_menu_bottom">
        <div class="SMPG_menu_option25" id="SMPG_menu_bottom_0"
             ng-click="goToStats()">
                  <i class="icon ion-stats-bars" id="SMPG_icon_stats"></i>
                  <div class="SMPG_helper_float">Ranking</div>
             </div>
        <div class="SMPG_menu_option25" id="SMPG_menu_bottom_2"
             ng-click="autoMatchHandler()"><span class="blink_me">
                  <i class="icon ion-android-earth" id="SMPG_icon_match"></i>
                  <div class="SMPG_helper_float">AutoMatch</div></span>
             </div>
        <div class="SMPG_menu_option25" id="SMPG_menu_bottom_1"
             ng-click="passAndPlayHandler()">
                  <i class="icon ion-android-contacts" id="SMPG_icon_pass"></i>
                  <div class="SMPG_helper_float">Pass & Play</div>
             </div>
        <div class="SMPG_menu_option25" id="SMPG_menu_bottom_3"
             ng-click="playAgainstComputerHandler()">
                  <i class="icon ion-laptop" id="SMPG_icon_AI"></i>
                  <div class="SMPG_helper_float">Computer</div>
             </div>
    </div>


</div>
