<div class="menu">
        <center>
            <!--// MATCH_MENU: OPTIONS //-->
            <div>
                <button ng-click="leaveGame()">Go Back</button>
            </div>
            
            <!--// Opponents Avatars //-->
            <div ng-show="player0 && player1">
                {{player0}} <img src={{image0}} class="avatar"> vs <img src={{image1}} class="avatar"> {{player1}}
            </div>
            
            <!--// MATCH_MENU: STATUS/INFO //-->
            <div>
                {{gameStatus}}
            </div>
            
        </center>
    </div>
    <iframe frameborder="1" id="game_iframe" ng-src="{{gameUrl}}"
            scrolling="no" seamless="seamless"></iframe>
    
    <div class="bottommenu">
        <center>
            <!--// MATCH_MENU: OPTIONS //-->
            <div>
                <button ng-click="deleteGame()">Delete Game</button>
            </div>
        </center>
    </div>
