<div 
    ng-cloak class="SMPG_game" ng-controller="GameCtrl">
    
            <!--// MATCH_MENU: OPTIONS //-->
        <div class="SMPG_game_top">
            <div class="SMPG_game_goback">
                <button class="icon ion-chevron-left"
                    ng-click="leaveGame()"></button>
            </div>
            <div class="SMPG_game_opponent">
                <img src={{image0}} class="SMPG_avatar SMPG_game_avatar"> {{player0}} <b>vs</b> 
                <img src={{image1}} class="SMPG_avatar SMPG_game_avatar"> {{player1}}
            </div>
            <div class="SMPG_game_delete">
                <button class="icon ion-ios7-trash" 
                    ng-click="deleteGame()"></button>
            </div>
        </div>
            <!--div class="SMPG_game_player" ng-show="player0 && player1">
                <img src={{image0}} class="SMPG_avatar"> {{player0}} <b>v</b>
            </div>
            <!--div class="SMPG_game_vs" ng-show="player0 && player1">vs</div>
            <div class="SMPG_game_player SMPG_game_p2" ng-show="player0 && player1"><b>s</b> {{player1}} <img src={{image1}} class="SMPG_avatar">
            </div-->
            
            <!--// MATCH_MENU: STATUS/INFO //-->
            <div class="SMPG_game_status">
                <i>{{gameStatus}}</i>
            </div>
            
    <iframe frameborder="1" id="game_iframe" ng-src="{{gameUrl}}"
            scrolling="no" seamless="seamless"></iframe>
</div>
