<div 
    ng-cloak class="SMPG_game_top" ng-controller="LocalGameCtrl">
        <center>
            <!--// MATCH_MENU: OPTIONS //-->
            <div class="SMPG_game_top">
                <div class="SMPG_game_goback icon ion-chevron-left"
                    id="SMPG_game_goback2"
                    ng-click="leaveGame()">
                </div>
        
                <div class="SMPG_game_delete icon-right ion-ios7-trash"
                    id="SMPG_game_delete2"
                    ng-click="deleteGame()">
                </div>
            </div>
        </center>
    </div>
    <iframe frameborder="1" id="game_iframe" ng-src="{{gameUrl}}"
            scrolling="no" seamless="seamless"></iframe>
    
    </div>
