<div class="SMPG_menu"
     ng-cloak ng-controller="MenuCtrl">
    
    
    <div class="SMPG_menu_top">
        <img ng-src="{{avatarImageUrl}}" class="SMPG_avatar"></img> 
        <h4 class="title">Hello, <b>{{displayName}}</b> !</h4>

        <button class="button button-small button-stable" 
                ng-show="gameId" ng-click="goToStats()">YOUR STATS</button>
    </div>

    <div class="SMPG_menu_select">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Choose Game: 
                </div>
                <select ng-model="selectdGames" ng-options="game.GameName for game in gamesPool">
                    <option value="">--</option>
                </select>
            </label>
        </div>
        <!--select class="" ng-model="selectdGames" ng-options="game.GameName for game in gamesPool">
                <option class=""
                value="">-- choose game --</option>      	
        </select-->
    </div>

    <div class="SMPG_menu_options">
        <button class="button button-balanced" 
                ng-show="AUTO_MATCH" ng-click="autoMatchHandler()"><b>AUTOMATCH</b></button>
    </div>
    <div class="SMPG_menu_options">
        <button class="button button-small button-stable" 
                ng-click="playAgainstComputerHandler()">Play Against Computer</button>
        <button class="button button-small button-stable" 
                ng-click="passAndPlayHandler()">Pass and Play</button>
    </div>

    <div class="SMPG_divider"></div>

    <div class="SMPG_menu_list">
        <div class="SMPG_menu_listbar SMPG_menu_yourturn">
            <b>Your Move:</b>
        </div>
        <div class="SMPG_menu_table">
            <table class="SMPG_menu_table">
                <tr ng-repeat="match in myTurnMatches track by $index">
                    <td class="SMPG_menu_td1">
                         <a class="ion-android-contact"></a> {{match.opponent}}
                    </td>
                    <td class="SMPG_menu_td2">
                         <button class="button SMPG_menu_button"
                                ng-click="goToGame(match.myPlayerId, match.matchId, match.turnIndex)"><a class="ion-ios7-redo"></a></button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="SMPG_divider"></div>
        <div class="SMPG_menu_listbar SMPG_menu_waiting">
            <b>Waiting on Opponent:</b>
        </div>
        <div class="SMPG_menu_table">
            <table class="SMPG_menu_table">
                <tr ng-repeat="match in oppoTurnMatches track by $index">
                    <td class="SMPG_menu_td1">
                         <a class="ion-android-contact"></a> {{match.opponent}}
                    </td>
                    <td class="SMPG_menu_td2">
                         <button class="button SMPG_menu_button"
                                ng-click="goToGame(match.myPlayerId, match.matchId, match.turnIndex)"><a class="ion-ios7-redo-outline"></a></button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="SMPG_divider"></div>
        <div class="SMPG_menu_listbar SMPG_menu_completed">
            <b>Completed Games:</b>
        </div>
        <div class="SMPG_menu_table">
            <table class="SMPG_menu_table">
                <tr class="SMPG_menu_tr" ng-repeat="match in endMatches track by $index">
                    <td class="SMPG_menu_td1">
                         <a class="ion-android-contact"></a> {{match.opponent}}
                    </td>
                    <td class="SMPG_menu_td2">
                         <button class="button SMPG_menu_button"
                                ng-click="goToGame(match.myPlayerId, match.matchId, match.turnIndex)"><a class="ion-ios7-redo-outline"></a></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>



</div>
