
<div style="height:100%; width:100%; overflow: hidden;"
    ng-cloak ng-controller="MenuCtrl">
    <center><img ng-src = "{{avatarImageUrl}}" style="height: 50px; width: 50px"></img> 
    <div>Hello {{displayName}} !!</div></center>
    <br>
   <center> 
   		<select ng-model="selectdGames" ng-options="game.GameName for game in gamesPool">
      			<option value="">-- choose game --</option>      	
    		</select>
   </center> 
   <a href="#/stats" ng-show="gameId"> GO TO STATS </a>
   <center> 
  		<button ng-show="AUTO_MATCH" ng-click="autoMatchHandler()">AUTO MATCH</button>
	<br>
    </center> 
  <div style="height:10%; overflow: hidden;">
  </div>
  <div align = "center">
      <table align = "center" style="width:50%">
          <tr>
              <td>
                  <p>Your Turn Matches: </p>
              </td>
              <td>
                  <table>
                      <tr ng-repeat="match in myTurnMatches track by $index">
                          <td>
                              <!-- Here we should display a link to the game.html with url parameters(playerId and matchId) -->
                              <!-- The below the link there should some match info such as -->
                              <!-- the name of the game, opponent(if any) -->
                              opponent: {{match.opponent}}
                              <button ng-click="goToGame(match.myPlayerId, match.matchId, match.turnIndex)">Play</button>
                          </td>
                      </tr>
                  </table>
              </td>
          </tr>
          
          <tr>
              <td>
                  <p>Opponent's Turn Matches: </p>
              </td>
              <td>
                  <table>
                      <tr ng-repeat="match in oppoTurnMatches track by $index">
                          <td>
                              opponent: {{match.opponent}}
                              <button ng-click="goToGame(match.myPlayerId, match.matchId, match.turnIndex)">Play</button>
                          </td>
                      </tr>
                  </table>
              </td>
          </tr>
          
          <tr>
              <td>
                  <p>End Matches: </p>
              </td>
              <td>
                  <table>
                      <tr ng-repeat="match in endMatches track by $index">
                          <td>
                              opponent: {{match.opponent}}
                              <button ng-click="goToGame(match.myPlayerId, match.matchId, match.turnIndex)">Play</button>
                          </td>
                      </tr>
                  </table>
              </td>
          </tr>
          
      </table>
  </div>
  
    
  
</div>
