<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Gaming Platform</title>
  <meta name="description" content="Gaming Platform for games using GameApi">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
  
  <script src="http://yoav-zibin.github.io/emulator/intercom.js"></script>
  <script src="platform_game_vs.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/platformMessageService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/stateService.js"></script>
  
  <script src="http://yoav-zibin.github.io/emulator/serverApiService.js"></script>

</head>

<body style="height:100%; width:100%; overflow: hidden;"
    ng-cloak ng-controller="PlatformCtrl">

    <!--// Back Button //-->
    <a href="platform_menu.html">Back to Main Menu</a>
    
    <!--// Opponents Avatars //-->
    <!--// Status Message //-->
    <div>{{getStatus()}}</div>
    
    <!--// Options //-->
    <button ng-click="endGame()">End Game</button>
    <button ng-click="deleteGame()"
            ng-show="isEndGame()">Delete Game</button>
    
    
    
    
  <iframe frameborder="1" id="game_iframe" ng-src="{{gameUrl}}"
      style="height:90%; width:100%; overflow: hidden;"
  scrolling="no" seamless="seamless">
  </iframe>
  
</body>
</html>
