<div class="statsBody">
	<div class="SMPG_game_top">
	        <a href="#/menu">
	        <div class="SMPG_game_goback icon ion-chevron-left"
	            id="SMPG_game_goback2"
	             ng-click="leaveGame()">
	        </div>
	        </a>
	        
	        <div class="SMPG_game_opponent" id="SMPG_game_players">
	                <span class="SMPG_game_helper"></span>
	                <b>Your Stats</b>
	        </div>
	        
	        <div class="SMPG_game_delete">
	        </div>
	</div>



	<br>
	<h1 style="font-family:verdana; ">STATISTICAL ANALYSIS</h1>
	<a href="#/menu" class="button"> Go Back? <i class="icon-chevron-up"></i></a>
	<div ng-show="outcomesCount"  style="font-family:verdana; font-size: 150%;">
    Your Current Rank:  {{rank}}
    <br>
    Your Total Wins:		{{outcomesCount.W===undefined?0:outcomesCount.W}}
    <br>
    Your Total Ties:		{{outcomesCount.T===undefined?0:outcomesCount.T}}
    <br>
    Your Total Losses:		{{outcomesCount.L===undefined?0:outcomesCount.L}}
  </div>
  <div ng-show="outcomesCount===undefined"  style="font-family:verdana; font-size: 200%;">
    NO DATA
  </div>      
	<br>
	
	<center>
	<div  ng-repeat="stats in statsIndex track by $index" style="text-align: -webkit-center;">
		<div class="stats_div" style="font-family:verdana; text-align: -webkit-center;">
		
				vs. {{stats.displayName}} <img ng-src="{{stats.avatarImageUrl}}" style="heigh:50px; width:50px"></img>
		
			<br>
		
				You Win: {{stats.outcomes.W===undefined?0:stats.outcomes.W}}; You Tie: {{stats.outcomes.T===undefined?0:stats.outcomes.T}};You Loss: {{stats.outcomes.L===undefined?0:stats.outcomes.L}}
		
		</div>
		<br>
	</div>
	</center>
</div>
